---cson
layout: 'default2'
title: 'Lecture 09'
subtitle: 'Moral Psychology'
lecture_date: '2021/03/16'
weburl: ''
units: []
recordings: []
recordingUnitNames: []
recordingStreamIds: []
hidden: true
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins
include ../../fragments/words_things_mixins

- var images = get_images('joint_action05')

+title_slide({document:document, images:images})


