---cson
layout: 'default2'
title: 'Lecture 04'
subtitle: 'Moral Psychology'
weburl: ''
units: []
lecture_date: '2021/02/02'
recordings: []
recordingUnitNames: []
recordingStreamIds: []
hidden: true
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins
include ../../fragments/words_things_mixins

- var images = get_images('mix')

+title_slide({document:document, images:images})

