---cson
layout: 'default2'
title: 'Week 08 Questions'
subtitle: 'Moral Psychology'
lecture_date: '2020/12/03'
weburl: ''
units: []
recordings: []
recordingUnitNames: []
recordingStreamIds: []
hidden: true
---

include ../../fragments/lecture_mixins
include ../../fragments/unit_mixins
include ../../fragments/words_things_mixins

- var images = get_images('joint_action03')


+title_slide({document:document, images:images})

+insert_unit({unit:'question_sessions/question_week08', title_slide:false, images:images, handout:true})
