---cson
layout: 'week_outline'
title: 'Week 09'
subtitle: 'Mind & Reality'
theme: 'Induction'
weburl: ''
lectures: [
  'lecture_08',
  'lecture_questions_08'
]
seminar: [
  {
    url:'https://yyrama.butterfill.com/course/view/MindAndReality_2020/taskSet/CtePuJpLkNM7QSzYu/task/0',
    type:'mini-essay'
  },
  {
    url:'https://yyrama.butterfill.com/course/view/MindAndReality_2020/taskSet/CtePuJpLkNM7QSzYu/task/1',
    type:'peer review'
  }
]
start_date: '2020/11/30'
liveMeeting: true
liveMeetingJoinLink: ''
hidden: true
---

