---cson
layout: 'week_outline'
title: 'Week 02'
subtitle: 'Mind & Reality'
theme: 'Cognitive Penetration'
weburl: ''
lectures: [
  'lecture_02',
  'lecture_questions_02'
]
seminar: [
  {
    url:'https://yyrama.butterfill.com/course/view/MindAndReality_2020/taskSet/o9RGTXFGRi6gTyi8y/task/0',
    type:'mini-essay'
  },
  {
    url:'https://yyrama.butterfill.com/course/view/MindAndReality_2020/taskSet/o9RGTXFGRi6gTyi8y/task/1',
    type:'peer review'
  }
]
start_date: '2020/10/12'
liveMeeting: true
liveMeetingJoinLink: 'https://teams.microsoft.com/l/meetup-join/19%3a57791d74f59442efb07b0a18b88aeeab%40thread.tacv2/1602495110813?context=%7b%22Tid%22%3a%2209bacfbd-47ef-4465-9265-3546f2eaf6bc%22%2c%22Oid%22%3a%229ca1df95-2bad-4d61-8636-d3557d7d1f5a%22%7d'
hidden: false
---

