---cson
layout: 'week_outline'
title: 'Week 10'
subtitle: 'Mind & Reality'
theme: 'Revision and Extensions'
weburl: ''
lectures: [
  'lecture_09',
  'lecture_questions_09'
]
seminar: [
  {
    url:'https://yyrama.butterfill.com/course/view/MindAndReality_2020/taskSet/RZ6c5aAJ26Btz6c8z/task/0',
    type:'mini-essay'
  },
  {
    url:'https://yyrama.butterfill.com/course/view/MindAndReality_2020/taskSet/RZ6c5aAJ26Btz6c8z/task/1',
    type:'peer review'
  }
]
start_date: '2020/12/07'
liveMeeting: true
liveMeetingJoinLink: ''
hidden: true
---

