---cson
layout: 'deck_unit'
title: "Recording of Whole-Class Live Question Session"
tags: []
description: """
  The recording of the whole-class live online question session
  in Week 01.
  You can still ask questions in the channel for the meetings.
  """
book: [
]
---

include ../../../../fragments/unit_mixins
include ../../../../fragments/words_things_mixins



+slide_middle
  p.center 
    span.step2 Philosophy is done by asking 
    span.qq questions
    span.step2 .


