---cson
layout: 'deck_unit'
title: "Recording of Whole-Class Live Question Session"
tags: []
description: """
  The whole-class live online question session
  in is based on questions on the topic of this weeks’ lectures 
  posed in advance in the teams channel.
  """
book: [
]
---

include ../../../../fragments/unit_mixins
include ../../../../fragments/words_things_mixins



+slide_middle
  p.center 
    span.step2 Philosophy is done by asking 
    span.qq questions
    span.step2 .

