---
layout: 'default2'
title: 'Making slides with deck.js'
subtitle: 'A quick introduction'
email: 's.butterfill@warwick.ac.uk'
weburl: ''
units: []
lecture_date: '2013/10/3'
---

//-
//- (c) Stephen A. Butterfill 2014
//-

include ../../fragments/lecture_mixins

- var images = get_images('bees')

+title_slide({document:document, images:images})

// the question
+insert_unit({unit:'001', title_slide:false, images:images, handout:true})
